Message IDs must not be reused within EXCHANGE_LIFETIME

[https://tools.ietf.org/html/rfc7252#section-4.4](RFC 7252, section 4.4)